<% if freelancer_signed_in? && current_freelancer.profile.nil? %>
  <%= link_to "Voltar para Pรกgina Inicial", root_path %>
  <h1>๐ผ Novo <%= I18n.t(:profile, scope: "activerecord.models") %></h1>

  <%= render "form" %>
<% end %>