<h1>Plataforma Freelancer</h1>
<h3>Bem-vindo(a) a plataforma de freelancing</h3>

<p>Aqui você poderá encontrar projetos, ou atuar em algum sendo um participante</p>
<p>Primeiro, basta logar:</p>

<%= link_to "Como Usuário", new_user_session_path %><br>
<%= link_to "Como Freelancer", new_freelancer_session_path %>