<tr>
  <td><%= link_to(experience.title, profile_experience_path(@profile, experience)) %></td>
  <td><%= l experience.started_at %></td>
  <td><%= l experience.ended_at %></td>
  <td><%= experience.description %></td>
</tr>