<main>
  <% if user_signed_in? || freelancer_signed_in? %>
    <div>
      <%= link_to "Voltar para Perfil", profile_path(@profile) %>
      <h1>Histórico de Experiências de <%= @profile.social_name %></h1>

      <%= render "experiences_table" %>
    </div>
  <% end %>
</main>