<%= link_to "Voltar para #{t(:profile, scope: "activerecord.models")}", profile_path(@profile) %>
<h1>Nova <%= I18n.t(:experience, scope: "activerecord.models") %></h1>

<%= render "form", object: [@profile, @experience] %>