<%= link_to "Voltar para #{t(:project, scope: "activerecord.models")}", project_path(@project) %>
<h1>Nova <%= t(:proposal, scope: "activerecord.models") %></h1>

<%= render "form", object: [@project, @proposal] %>