<table>
  <thead>
    <tr>
      <th><%= I18n.t :profile, scope: "activerecord.models" %></th>
    </tr>
  </thead>
  <tbody>
    <% @freelancers.each do |freelancer| %>
      <tr>
        <% if !freelancer.profile.blank? %>
          <td><%= link_to freelancer.profile.full_name, profile_path(freelancer.profile || freelancer) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
