<table>
  <thead>
    <tr>
      <th><%= I18n.t :profile, scope: "activerecord.models" %></th>
    </tr>
  </thead>
  <tbody>
    <% @freelancers.each do |freelancer| %>
      <%= render freelancer %>
    <% end %>
  </tbody>
</table>